{% extends 'pattern.html' %}

{% block title %}
Все зарегестрированные пользователи
{% endblock %}


{% block body %}
    <h1>Все зарегестрированные пользователи</h1>
    <div class="alert alert-info">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Имя</th>
                    <th>фамилия</th>
                    <th>номер телефона</th>
                    <th>адрес</th>
                    <th>Дата создания</th>
                </tr>
            </thead>
            <tbody>
                {% for el in articles %}
                    <tr>
                        <td>{{ el.name }}</td>
                        <td>{{ el.surname }}</td>
                        <td>{{ el.phone }}</td>
                        <td>{{ el.address }}</td>
                        <td>{{ el.date.date() }}</td>
                    </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}