{% extends 'pattern.html' %}

{% block title %}
Главная страница
{% endblock %}


{% block body %}
<div class="container mt-5">
    <h1>Добавление пользователя</h1>
    <form action="/create-user" method="post">
        <input type="text" name="name" id="name" class="form-control" placeholder="Имя"><br>
        <textarea name="surname" id="surname" class="form-control" placeholder="Фамилия"></textarea><br>
        <textarea name="phone" id="phone" class="form-control" placeholder="Номер телефона"></textarea><br>
        <textarea name="address" id="address" class="form-control" placeholder="Адрес"></textarea><br>
        <input type="submit" class="btn btn-success" value="Добавить">
    </form>
</div>
{% endblock %}